svg.bi {
    height: 1em;
    width: 1em;
    color: #fff;
    fill: #fff;
}

html[data-bs-theme="light"] .dropdown-item > svg.bi {
    color: #333;
    fill: #333;
}
html[data-bs-theme="dark"] .dropdown-item > svg.bi {
    color: #ccc;
    fill: #ccc;
}


/* member contact detail cards, make width 100% */
.member-cards > .member {
    width: 100%;
}

/* member contact detail cards, make width 50% - margin (1) */
@media (min-width: 992px) {
    .member-cards > .member {
        width: calc(50% - 1rem);
    }
}
